$hijau_muda: rgb(73, 194, 109);
$abu_abu: rgb(223, 228, 243);
$kuning: rgb(255, 196, 0); 
$biru: rgb(89, 89, 206);
$hitam: black;
$putih: rgb(255 255 255);

.v-toolbar__content, .v-application--wrap {
    background-color: $abu_abu;
}

.gallery-box, .latest-post {
    h2 {
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        background-color: $hijau_muda;
        color:$hitam;
        border: 1px solid $biru;
    }
}

.latest-post {
    .v-btn__content {
        color:$biru;
    }
}

.footer {
    .v-sheet, .v-footer {
        background-color:$putih;
    }
}