$hijau_muda: rgb(73, 194, 109);
$abu_abu: rgb(223, 228, 243);
$kuning: rgb(255, 196, 0); 
$biru: rgb(89, 89, 206);

.v-main__wrap, .v-toolbar__content {
    background-color: $abu_abu;
}

.gallery-box, .latest-post {
    h2 {
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        background-color: $biru;
        color:$kuning;
        border: 2px solid $kuning;
    }
}

.latest-post {
    .v-btn__content {
        color:$biru;
    }
}